#logoBar{
  width: 100vw;
  height: 60vh;
}
#siteLogo{
  width: 100%;
}

body {
  background-color: bisque;
  display: flex;
}
h1 {
  color: brown;
  font-family: "Lucida Console", "Courier New", monospace;
}

h3 {
  color:blue;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.card {
  height: 5rem;
  width: 5rem;
  background-color: yellowgreen;
  /* margin-left:3px;
  margin-right: 3px; */
  margin-left:1px;
  margin-right:1px;
  border-radius: 20px;
  padding: 70px;
  margin: 10px;
  /* Add shadows to create the "card" effect
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  /* transition: 0.3s; */
}
/* .card-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
} */

/* .flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */
#staffGallery{
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 400px) {
  body{
    flex-direction: column;
    align-items: center;
  }
  }
