#logoBar{
  width: 50vw;
  height: 50vh;
  text-align: center ;

}
#siteLogo{
  width: 100%;
}

body {
  background-color: bisque;
  display: flex;
  /* align-items: center; */
}
h1 {
  color: brown;
  font-family: "Lucida Console", "Courier New", monospace;
}

h3 {
  color:blue;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.card {
  height: 10rem;
  width: 10rem;
  background-color: yellowgreen;
  margin-left:10px;
  margin-right:10px;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 60px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  text-align: center ;
}


#staffGallery{
  margin-top: 10px;
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  body{
    flex-direction: column;
    align-items: center;
  }
}

  
.galleryImage{
  width: 100%;
  height: auto;
}
